<!-- In templates/essay/write_paragraph.html -->
{% extends 'essay/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Write Your Essay</h1>
    
    <!-- Add instructions -->
    <div class="instructions">
        <p><strong>Instructions:</strong></p>
        <ul>
            <li>Press Enter to lock a paragraph</li>
            <li>Copy/paste from external sources is disabled</li>
            <li>Typing mistakes are hidden while you type</li>
        </ul>
    </div>
    
    <div id="essay-editor" class="essay-editor" contenteditable="true">
        <p class="editable-paragraph" contenteditable="true">Start typing your essay here...</p>
    </div>
    
    <div class="controls">
        <button id="save-essay" class="btn btn-primary">Save Essay</button>
        <button id="clear-all" class="btn btn-secondary">Clear All</button>
    </div>
</div>

<!-- Add the secure input JavaScript -->
<script src="{% static 'essay/js/secure_input.js' %}"></script>
{% endblock %}